
# Add only the src + gitignores folder from vitis project
workspace_vitis/*
!workspace_vitis/renderer/
!workspace_vitis/renderer/**
!workspace_vitis/renderer_system/
!workspace_vitis/renderer_system/**

# Add only the srcs + gitignores folder from vivado project
workspace_vivado/*
!workspace_vivado/workspace_vivado.srcs/
!workspace_vivado/workspace_vivado.srcs/**


